<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!--include style-->
    <%- include style.ejs %>

    <title>IMDBGame</title>
</head>
<body>    
        <div class="container">

	
                <div class="movie-card">
                    <div class="movie-header Movie">
                    </div><!--movie-header-->
                    <div class="movie-content">
                        <div class="movie-content-header">
                    <a>
                      <h3 class="movie-title"><%= data.title %> <%= data.year %></h3>
                    </a>
                            <div class="imax-logo"></div>
                        </div>
                        <div class="movie-info">
                            <div class="info-section">
                      <label>Genre</label>
                      <a>
                          <span><%= data.genre %></span>
                      </a>
                    </div><!--date,time-->
                    <div class="info-section">
                        <label>IMDB Rate</label>
                        <a>
                            <span><%= data.rating %></span>
                        </a>
                      </div><!--imdb rate-->
                            
                        </div>
                    </div><!--movie-content-->
                </div><!--movie-card-->
                
            </div><!--container-->

            <!--include scripts-->
            <%- include script.ejs %>
</body>
</html>